@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Open+Sans:ital@1&family=Poppins:wght@200&family=Roboto&display=swap');

:root {
    --body: #4F4557;
    --fonts: #F4EEE0;
    --titles: #46C2CB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    width: 100%;
}

header h2 {
    font-size: 2rem;
    color: var(--fonts);
    font-weight: bold;
}

.header-nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--fonts);
    font-weight: bold;
    margin-left: 10px;
}

.header-nav a:hover {
    color: var(--titles);
    transition: 0.5s;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 50px;
}

.informations {
    width: 45vw;
}

.informations h1 {
    font-size: 3.5rem;
    color: var(--titles);
    margin: 5px 0;
}

.informations h2 {
    font-size: 2rem;
    color: var(--titles);
    font-weight: bold;
}

.informations p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: var(--fonts);
}

.icons-medias img{
    height: 45px;
    margin: 55px 15px 0 0;
}

.informations-card h2{
    text-align: center;
    color: var(--titles);
    font-size: 2rem;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--fonts);
    margin-left: 15px;
    height: 145px;
    padding: 15px 50px;
    border-radius: 5px;
}

.card img {
    height: 80px;
    margin-bottom: 20px;
}

.card p {
    font-weight: bold;
    font-size: 1.2rem;
}