:root{
    --background--: #232323;
    --titles--: #BFBFBF;
    --font--: #ffffff;
    --blue--: #4169E1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Tahoma, Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background--);
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-left: 5vw;
}

h1 {
    font-size: 6rem;
    color: var(--titles--);
    margin-right: 20vw;
}

.rect{
    background-color: var(--blue--);
    width: 170px;
    height: 15px;
    margin-bottom: 7vh;
}

h2{
    font-size: 2.5rem;
    color: var(--titles--);
}

p {
    color: var(--font--);
    text-align: left;
    font-size: 1.5rem;
    margin: 2vh 0vw;
}

span {
    font-size: 1.5rem;
    color: var(--font--);
    margin-right: 5vw;
}


img{
    height: 7vh;
    margin-right: 2vw;
}

.green{
    color:var(--blue--);
    font-size: 1.5rem;
    font-weight: bold;
}

#projects{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.card{
    width: 350px;
    height: 45vh;
    margin: 2vw;
    background-color: var(--font--);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h3{
    font-size: 2rem;
    margin: 20px 0 20px 0;
}

.card img{
    height: 100px;
    margin-left: 20px;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
    display: flex;
    
    justify-content: center;
}

.card a:hover{
    background-color: var(--blue--);
    color: var(--font--);
    transition: 0.3s;
}

.rect2 {
    width: 250px;
    height: 5px;
    margin-top: 1vh;
    background-color: var(--blue--);
    display: flex;
}


@media (max-width: 480px) {
    #home{
        flex-direction: column; 
    }

    .name_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    h1{
        font-size: 2.5rem;
        margin-right: 2.5vw;
    }

    .rect {
        width: 75vw;
        margin-bottom: 2vh;
    }

    .responsive_icons{
        display: flex;
        flex-direction: row;
        margin-bottom: 2vh;
    }

    .responsive_icons a {
        margin-left: 3vw;
    }

    .informations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informations h2 {
        font-size: 1.5rem;
    }

    .informations p {
        text-align:center;
        font-size: 1.5rem;
    }

    .languages {
        display: flex;
        flex-direction: row;
    }

    .languages img {
        margin: 3vw;
    } 

    .cards{
        flex-direction: column;
    }

    .card{
        margin-bottom: 3vh;
    }

}