@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Open+Sans:ital@1&family=Poppins:wght@200&family=Roboto&display=swap');

:root {
    --body: #171717;
    --fonts: #F9F9F9;
    --fonts2: #0BA049;
    --card-body: #ece9e9;
    --h2: #828282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body);
}

#home {
    margin: 200px;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informations h1 {
    font-size: 6rem;
    color: var(--fonts);
    margin: 5px 0;
}

.informations h2 {
    font-size: 2rem;
    color: var(--h2);
    font-weight: bold;
}

.informations2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informations2 h2 {
    color: var(--fonts);
    font-size: 1.8rem;
}

.social-medias {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.social-medias a, .skill {
    color: var(--fonts);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--fonts2);
    padding: 5px 10px;
    margin: 2px;
    border-radius: 3px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--fonts);
    font-size: 1.3rem;
    margin-top: 40px;
    margin-bottom: 1rem;
}

.rect {
    margin: 15px 10px;
    height: 5px;
    width: 8vw;
    background-color: #0BA049;
}

.container-aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.aboutme img {
    height: 40vh;
    border-radius: 10px;
}

.aboutme, .textAboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--card-body);
    margin: 5px 15vw;
    padding: 15px 20px;
    border-radius: 10px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.skills h3 {
    color: var(--body);
    font-size: 1.5rem;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}


.email, .phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
} 

.email img, .phone img {
    height: 5vh;
}

.email p, .phone p {
    margin-left: 5px;
    font-size: 1rem;
}

.textAboutMe p {
    font-size: 1.1rem;
    color: var(--body);
    text-align: center;
}

#projects, #about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15vh;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-project {
    background-color: var(--card-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

#projects img {
    width: 350px;
    border-radius: 10px 10px 0 0;
}

#projects p {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
}

#projects a {
    text-decoration: none;
    color: var(--fonts);
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 15px 15px;
    background-color: var(--body);
    padding: 10px 25px;
    border-radius: 20px;
}

#projects a:hover {
    color: var(--body);
    background-color: var(--fonts2);
    transition: 0.5s;
}

@media screen and (max-width: 480px) {
    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informations {
        justify-content: center;
    }

    .informations h1 {
        font-size: 3rem;
        text-align: center;
    }

    .informations h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    .informations p {
        text-align: center;
    }

    .social-medias {
        align-items: center;
        justify-content: center;
    }

    .social-medias a {
        font-size: 1.5rem;
        padding: 10px;
    }

    .rect {
        width: 17vw;
    }
}